.grid-item {
  text-align: center;
  gap: 20px;
}

.grid-item img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.grid-item h3{
  color: #F2D0A4;
}

.grid-item img:hover{
  transform: scale(1.05);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-box {
  background: #FFEFD3;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  max-height: 70%;
  overflow-y: auto;
  position: relative;
}

.popup-box .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup-box h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #463730;
}

.popup-box h5 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #463730;
}

.popup-box p {
  font-size: 1rem;
  gap: 10px;
}
