/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 5px 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  background-color: transparent; /* Default transparent on home page */
}

.navbar--hidden {
  transform: translateY(-100%);
}

.navbar--visible {
  transform: translateY(0);
}

.navbar h1 {
  color: white;
  font-size: 3rem;
  margin-left: 20px;
}

.navbar div {
  display: flex;
  gap: 15px;
  margin-right: 90px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}
