/* Home.css */
.home-header {
    text-align: center;
    position: relative;
  }
  
  .home-header img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-bottom: 50px;
  }
  
  .shop-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.3rem;
  }

  .categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .categories a {
    text-decoration: none;
    text-align: center;
  }

  .categories p {
    font-weight: 600;
    font-size: 1rem;
    color: #F2D0A4;
    margin-bottom: 10px;
  }
  
  .categories img{
    width: 300px; /* Set a uniform width */
    height: 200px; /* Set a uniform height */
    object-fit: cover; /* Ensures images scale properly */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .categories img:hover{
    transform: scale(1.05);
  }
  
  .contact-info {
    text-align: center;
    margin-top: 40px;
  }

  .text{
    font-size: 1.2rem;
    text-align: center;
    color: #F2D0A4;
    margin-bottom: 50px;
  }