/* index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Sen', serif;
  background-color: #523E35;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
